extends layout
block content
  div#search-container
  .content
    .row
      .span3#keys-container
      .span3#sources-container
      .span3#targets-container
      .span3#value-container
block templates
  script#search-template(type='text/x-handlebars-template')
    input#search-data(type='search')
    button#search.btn Search
  script#keys-template(type='text/x-handlebars-template')
    h1 Keys:
    h2.size {{size}}
    #key-list-container.key-list
      ul#key-list
        {{#each keys}}
        li(class='key', data-id='{{this.name}}') {{this.name}}
        {{/each}}
  script#sources-template(type='text/x-handlebars-template')
    h1 Sources:
    h2.size {{size}}
    #source-list-container.key-list
      ul#source-list
        {{#each keys}}
        li(class='key', data-id='{{this.name}}') {{this.name}}
        {{/each}}
  script#targets-template(type='text/x-handlebars-template')
    h1 Targets:
    h2.size {{size}}
    #target-list-container.key-list
      ul#target-list
        {{#each keys}}
        li(class='key', data-id='{{this.name}}') {{this.name}}
        {{/each}}
  script#value-template(type='text/x-handlebars-template')
    h1 Value:
    {{{html}}}