pivotal_blue = #256188
light_gray = #ddd
dark_gray = #999
almost_white = #f3f3f3
highlighted = #ff6
fonts = Arial, Verdana, sans-serif

body
  margin 0
  font-family fonts

.legend
  font-weight bold

.inline-block
  display inline-block

.header
  background pivotal_blue

.navbar
  background light_gray
  padding 0.5em
  ul
    margin 0
    padding 0
    list-style none
    li
      display inline-block
      margin 0 10px 0 15px
      color dark_gray

.app-title
  font-weight bold
  font-size 30px
  margin 20px
  color almost_white

.smoothie
  float right
  margin: 3px 1em auto 0
  height: 30px

.search
  float right
  input
    width 200px

.main
  margin 1em

.fixbox
  width 300px
  display inline-block
  border 1px solid dark_gray
  margin 1em
  padding 0
  vertical-align top
  &.wide
    width 600px
  
  h2
    margin 0
    padding 0.5em

pre
  margin-left 2em

.box-title
  font-size 150%
  font-weight bold
  padding 0 0.5em
  background dark_gray
  color white

.title-right
  float right
  color light_gray
  vertical-align center

.box-content
  width 100%
  min-height 100px
  background almost_white

ul.grid
  list-style none
  padding 0
  margin 0
  li
    padding 0.2em
    border-bottom 1px solid dark_gray
    &:last-child
      border none
    &.hover
      background highlighted

.block
  display block

.filter
  width 200px