pivotal_blue = #256188
light_gray = #ddd
dark_gray = #999
almost_white = #f3f3f3
highlighted = #ff6
fonts = Arial, Verdana, sans-serif

.content
  li
    list-style none

.list
  height 300px
  overflow auto
  background light_gray
  padding 10px

	li
		&:not(.tree)
		span
			&:hover
				background-color pivotal_blue
				color white

	li.active
		background-color pivotal_blue
		color white

		&:hover
			background-color #478872

#value-container
	-moz-user-select none
	-webkit-user-select none
	-khtml-user-select none
	user-select none

.open
	display block

.closed
	ul
		display none