pivotal_blue = #256188
light_gray = #ddd
dark_gray = #999
almost_white = #f3f3f3
highlighted = #ff6
fonts = Arial, Verdana, sans-serif

#content
  li
    list-style none

.list
  height 300px
  overflow auto
  background light_gray
  padding 10px